
<div id="clinic-event-new" class="lightbox">
	<div class="inbox">
		<div class="close-box">
			<%= link_to icon_tag(:close), "", onclick: "event.preventDefault(); $(this).closest('.lightbox').remove();" %>
		</div>
		<%= form_tag url_for(action: :create), method: "post", remote: true do %>
		<div class="content_box">
			<div class="e-row">
				<div class="field">
					<%= text_field_tag "patient[name]", "", placeholder: "病患姓名" %>
				</div>
			</div>
			<div class="e-row">
				<div class="field">
					<%= select_field_tag "event[service]", "", [[nil, "診療項目"]] + @clinic.services.map{|a| [a.id, a.name]} %>
				</div>
				<div class="field">
					<%= text_field_tag "patient[phone]", "", placeholder: "病患電話" %>
				</div>
			</div>
			<div class="e-row">
				<div class="field">
					<%= select_field_tag "event[doctor]", "", [[nil, "看診醫生"]] + @clinic.doctors.map{|a| [a.id, a.name]} %>
				</div>
				<div class="field">
					<%= text_field_tag "patient[person_id]", "", placeholder: "身分證號碼" %>
				</div>
			</div>
			<div class="e-row">
				<div class="field">
					<%= select_field_tag "patient[gender]", "", [[nil, "病患性別"], ["男", "男"], ["女", "女"]] %>
				</div>
				<div class="field">
					<%= select_field_tag "", "", [[nil, "健保狀況"], ["有", "有"], ["無", "無"]] %>
				</div>
			</div>
			<div class="e-row date">
				<div class="field">
					<% this_year = Date.today.year - 1911 %>
					 <label>病患生日(必填)</label>
				</div>
				<div class="field">
					 民國 
					 <%= select_field_tag "patient[year]", 100, (30..this_year).map{|a| [a,a]} %> 年
				</div>
				<div class="field">
					 <%= select_field_tag "patient[month]", 1, (1..12).map{|a| [a,a]} %> 月
				</div>
				<div class="field">
					 <%= select_field_tag "patient[day]", 1, (1..30).map{|a| [a,a]} %> 日
				</div>			
			</div>
			<div class="e-row">
				<div class="field">
					<%= select_field_tag "event[hour_minute]", "", [[nil, "看診時間"]].concat((9..22).map do |h|
						d = hour_minute_format(h, 0) 
						[d, d]
					end) %>
				</div>
			</div>
		</div>
		<div class="buttons_box">
			<%= link_to "取消", "", onclick: "event.preventDefault(); $(this).closest('.lightbox').remove();", class: "btnW" %>
			<%= link_to "儲存", "", onclick: "event.preventDefault(); $(this).closest('form').submit();", class: "btnBu" %>
		</div>
		<% end %>
	</div>
</div>
