
<div class="line-templates-form">
	<div class="title">
		<%= title %>
	</div>
	<div class="content-box">
		<div class="inbox keywords-box">
			<ul>
				<% keywords.each_with_index do |keyword, index| %>
				<li>
					<div class="header">
						<span class="title">
						<% if index == 0 %>
							關聯句、字
						<% end %>
						</span>
						<span class="words">
							3/30
						</span>
					</div>
					<div class="content">
						<%= text_field_tag "line_template[keywords_attributes][#{index}][name]", keyword[:name] %>
						<%= link_to icon_tag(:close_circle1), clinic_clinic_line_line_keyword_path(@clinic, keyword[:id]), remote: true, method: :delete %>
					</div>
				</li>
				<% end %>
			</ul>
			<div class="add-box">
				<%= link_to icon_tag(:plus_circle), "" %>
			</div>
		</div>
		<div class="inbox template-messages-box">
			<ul>
				<% template_messages.each_with_index do |template_message, index| %>
				<li>
					<div class="header">
						<span class="title">
						<% if index == 0 %>
							回答內容
							<span class="note">註：最多為5個上限</span>
						<% end %>
						</span>
						<span class="words">
							3/30
						</span>
					</div>
					<div class="content">
						<%= text_field_tag "line_template[template_messages_attributes][#{index}][content]", template_message[:content] %>
						<%= link_to icon_tag(:close_circle1), clinic_clinic_line_line_template_message_path(@clinic, template_message[:id]), remote: true, method: :delete %>
					</div>
				</li>
				<% end %>
			</ul>
			<div class="add-box">
				<%= link_to icon_tag(:plus_circle), "" %>
			</div>
		</div>
		<div class="buttons-box">
			<%= link_to "取消", cancel_url, class: "btnW" %>
			<%= submit_tag "儲存", class: "btnBu" %>
		</div>
	</div>
</div>
