
<ul class="line-templates-index" id="<%= id %>">
	<% resources.each do |resource| %>
	<li>
		<div class="question">
			<span class="title">Q</span>
			<span class="content"><%= cols[:q].call(resource) %></span>
		</div>
		<div class="reply">
			<span class="title">A</span>
			<span class="content"><%= cols[:a].call(resource) %></span>
		</div>
		<div class="buttons_box">
			<%= link_to "編輯", cols[:edit_path].call(resource), class: "btnBu" %>
		</div>
	</li>
	<% end %>
	<li>
		<div class="question">
			<span class="title">Q</span>
			<span class="content"></span>
		</div>
		<div class="reply">
			<span class="title">A</span>
			<span class="content"></span>
		</div>
		<div class="buttons_box">
			<%= link_to "新增", new[:path].call, class: "btnBu" %>
		</div>
	</li>
</ul>
