
<div class="line-templates-form">
	<div class="title">
		<%= title %>
	</div>
	<div class="content-box">
		<div class="inbox keywords-box">
			<ul>
				<% line_template.keywords.each_with_index do |line_keyword, index| %>
				<%= render_relative_partial "line_template_form/keyword_input", locals: {line_keyword: line_keyword, index: index} %>
				<% end %>
			</ul>
			<div class="add-box">
				<%= link_to icon_tag(:plus_circle), "javascript: window.addLineKeyword();" %>
			</div>
		</div>
		<div class="inbox template-messages-box">
			<ul>
				<% line_template.template_messages.each_with_index do |line_template_message, index| %>
				<%= render_relative_partial "line_template_form/template_message_input", locals: {line_template_message: line_template_message, index: index} %>
				<% end %>
			</ul>
			<div class="add-box">
				<%= link_to icon_tag(:plus_circle), "javascript: window.addLineTemplateMessage();" %>
			</div>
		</div>
		<div class="buttons-box">
			<%= link_to "取消", cancel_url, class: "btnW" %>
			<%= submit_tag "儲存", class: "btnBu" %>
		</div>
	</div>
</div>

<script type="text/javascript">
	window.addLineKeyword = function(){
		$(".line-templates-form .keywords-box ul").append("<%= j render_relative_partial 'line_template_form/keyword_input', locals: {line_keyword: Line::Keyword.new} %>");
	}
	window.addLineTemplateMessage = function(){
		$(".line-templates-form .template-messages-box ul").append("<%= j render_relative_partial 'line_template_form/template_message_input', locals: {line_template_message: Line::TemplateMessage.new} %>");
	}
</script>
