
<% row_height = 40 %>
<div id="event_duration_lightbox" class="lightbox bg_width">
  <div class="inbox">
    <div class="header_box">
      <div class="back">
        <%= link_to "#{icon_tag(:angle_left)} 返回新增預約".html_safe, "javascript:;", onclick: "$(this).closest('.lightbox').remove();" %>
      </div>
      <div class="title">
        看診時間系統
      </div>
      <div class="doctor">
        <%= @doctor.title_name %>
      </div>
      <div class="date">
        <div class="last_week">
          <%= link_to icon_tag(:angle_left), url_for(request.query_parameters.merge(date: @date - 7.day)), remote: true %>
        </div>
        <div class="month">
          <%= @date.month %>月
        </div>
        <div class="next_week">
          <%= link_to icon_tag(:angle_right), url_for(request.query_parameters.merge(date: @date + 7.day)), remote: true %>
        </div>
      </div>
    </div>
    <%= form_tag url_for(action: :create), method: "post", remote: true, class: "content_box" do %>
      <%= hidden_field_tag "doctor_id", @doctor_id, id: "doctor_id_input" %>
      <%= hidden_field_tag "date", @date.strftime("%Y/%m/%d") %>
      <%= hidden_field_tag "hour", @hour %>
      <%= hidden_field_tag "minute", @minute %>
      <%= hidden_field_tag "duration", @duration %>
      <div id="calendar_day">
        <div class="header">
        </div>
        <div class="table_box">
          <%= render partial: "clinics/events/common/event_duration_titles_col", locals: {
            row_height: row_height, 
            hours: @clinic_wday_hours
          } %>
          <% @doctor_week_hour_events.each do |doctor_week_hour_event| %>
          <div class="d_col value_col" data-date="<%= doctor_week_hour_event[:date].strftime('%Y/%m/%d') %>">
            <div class="d_row day_row" style="height: <%= row_height %>px;">
              <p style="line-height: <%= row_height / 2 %>px;">
                <%= doctor_week_hour_event[:date].strftime('%d') %>
                <%= doctor_week_hour_event[:ch_wday] %>
              </p>
            </div>
            <%= render partial: "clinics/events/common/event_duration_values_col", locals: {
              hour_minute_segments: doctor_week_hour_event[:hour_minute_segments],
              row_height: row_height,
              doctor: @doctor,
              has_vacation: @doctor.has_vacation?(@date),
              onclick_event: proc do |event|

              end,
              onclick_new_event: proc do |hour, minute|
                "window.setDateHourMinute($(this).closest('.d_col').data('date'), #{hour}, #{minute});"
              end
            } %>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <script type="text/javascript">
    window.setDateHourMinute = function(date, hour, minute){
      var box = $("#event_duration_lightbox");
      box.find("[name='date']").val(date);
      box.find("[name='hour']").val(hour);
      box.find("[name='minute']").val(minute);
      $("#event_duration_lightbox form").submit();
    }
  </script>
</div>
