
<div id="event_notification_template_lightbox" class="lightbox">
	<%= form_tag clinic_event_notification_template_notifications_path(@clinic, @event_notification_template), method: "post", remote: true, class: "inbox" do %>

		<% @event_objs.present? && @event_objs.each_with_index do |event_obj, index| %>
			<% event = event_obj[:event] %>
			<% args = event_obj[:args] %>
			<%= hidden_field_tag "events[#{index}][id]", event.id %>
			<% args.each do |name, value| %>
				<%= hidden_field_tag "events[#{index}][args][#{name}]", value %>
			<% end %>
		<% end %>

		<% @patient_objs.present? && @patient_objs.each do |patient_obj| %>
			<% patient = patient_obj[:event] %>
			<% args = patient_obj[:args] %>
			<%= hidden_field_tag "patients[#{index}][id]", patient.id %>
			<% args.each do |name, value| %>
				<%= hidden_field_tag "patients[#{index}][args][#{name}]", value %>
			<% end %>
		<% end %>

		<div class="header_box">
			推播訊息
			<p class="note">推播對象：提醒洗牙回診</p>
		</div>
		<div class="content_box">
			<%= text_area_tag "text_message", @event_notification_template.content %>
			<% @event_notification_template.args.each do |key, name| %>
			<%= link_to name, "", class: "btnBu" %>
			<% end %>
		</div>
		<div class="buttons_box">
			<%= link_to "取消", "javascript: $('#event_notification_template_lightbox').remove()", class: "btnW" %>
			<%= submit_tag "推播", class: "btnBu" %>
		</div>
	<% end %>
</div>
