
<div id="clinic_info_clinic_vacations" class="lightbox bg_width">
	<div class="inbox">
		<div class="header_box">
			營業時間系統
		</div>
		<div id="clinic_durations_index" class="content_box">
			<div class="title_box">
			</div>
			<div class="content_box">
				<%= form_tag url_for(action: :create), method: "post", remote: true do %>
				<div class="form_inbox">
					<%= render partial: "clinics/common/durations-table", locals: {
						durations: @clinic_durations,
						wdays: @clinic.clinic_duration_wdays, #[1,2,3,4]
						check_input: proc do |wday_hour_minute|
							check_box_tag "clinic_durations[][wday_hour_minute]", wday_hour_minute, @clinic_durations.find{|d| d.wday_hour_minute == wday_hour_minute}
						end
					} %>
				</div>
				<div class="holidays_box">
					<span class="title">固定休息日期：</span>
					<div class="check_box">
						<% [
							{name: "除夕早上", value: "eve_1"},
							{name: "除夕下午", value: "eve_2"},
							{name: "除夕晚上", value: "eve_3"},
							{name: "初一", value: "new_1"},
							{name: "初二", value: "new_2"},
							{name: "初三", value: "new_3"},
							{name: "初四", value: "new_4"},
							{name: "初五", value: "new_5"},
							{name: "初六", value: "new_6"},
							{name: "國定假日", value: "holidays"}
						].each do |elm| %>
						<div class="check_field">
							<% id = "id_#{elm[:value]}" %>
							<%= check_box_tag "day_name", "#{elm[:value]}", false, id: id %>
							<label for="<%= id %>"><%= elm[:name] %></label>
						</div>
						<% end %>
					</div>
				</div>
				<div class="buttons_box form_buttons_box">
					<%= link_to "取消", "javascript: $('#clinic_info_clinic_vacations').remove();", class: "btnW" %>
					<%= submit_tag "儲存", class: "btnBu" %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>



