<% patient_exist = @patient.persisted? %>

<div class="clinic_event_form_inbox">
	<div class="header_box">
		<%= title %>
	</div>
	<%= hidden_field_tag "patient[source]", "現場" %>
	<%= hidden_field_tag "event[source]", "現場" %>
	<%= hidden_field_tag "event[status]", "已預約" %>
	<%= hidden_field_tag "event[date]", @date.strftime("%Y/%m/%d") %>
	<div class="content_box clinic_form">
		<div class="patient_box <%= 'disabled' if patient_exist %>">
		<%= hidden_field_tag "patient_id", @patient.id %>
		<%= render partial: "clinics/patients/common/table/show_table" , locals: {
		  id: "patient",
		  resource: @patient,
		  fields: [
		    {v: proc{|a| 
		    	r = ""
		    	r += " <div id='search_box'>"
		    	r += "  <div class='input_box'>"
			    r +=     text_field_tag "patient[name]", a.name, placeholder: "病患姓名", disabled: patient_exist, autocomplete: "off"
			    r += "  <div class='search_result'></div>"
			    r += "  </div>"
			    r += " </div>"
			    if a.persisted?
				    r += render(partial: "clinics/patients/common/notification_action", locals: {
				    	patient: a
				    })
				  end
			    r.html_safe
		    }},
		    {v: proc{|a|
		      r = "<div class='date'>"
		    	r += "<span>出生年月日（必填）</span>"
		    	r += "<span>民國" + select_field_tag("patient[roc_year]", roc_year(a.birthday) || 100, (50..Date.today.year).map{|y| [y,y]}, disabled: patient_exist) + "年</span>"
		    	r += "<span>" + select_field_tag("patient[month]", a.birthday.try(:month) || 1, (1..12).map{|m| [m,m]}, disabled: patient_exist) + "月</span>"
		    	r += "<span>" + select_field_tag("patient[day]", a.birthday.try(:day) || 1, (1..31).map{|d| [d,d]}, disabled: patient_exist) + "日</span>"
		        r += "</div>"
		    	r.html_safe
		    }},
		    {class: "", v: proc{|a| 
		    	r = ""
		    	r += clinic_field_box({
		    		value: select_field_tag("patient[gender]", a.gender, [[nil, "病患性別(必填)"]] + Patient.genders.map{|a,b| [a,a]}, disabled: patient_exist)
		    	})
		    	r += clinic_field_box({
		    		value: select_field_tag("patient[health_insurance_status]", a.health_insurance_status, [[nil, "病患健保狀況"]] + Patient.health_insurance_statuses.keys, disabled: patient_exist)
		    	})
		    	r.html_safe
		    }},
		    {class: "", v: proc{|a| 
		    	r = ""
		    	r += clinic_field_box({
		    		value: text_field_tag("patient[person_id]", a.person_id, placeholder: "身分證字號(必填)", disabled: patient_exist)
		    	})
		    	r += clinic_field_box({
		    		value: text_field_tag("patient[phone]", a.phone, placeholder: "聯絡電話(必填)", disabled: patient_exist)
		    	})
		    	r.html_safe
		    }},
		    {v: proc{|a| 
		    	text_field_tag "patient[note]", a.phone2, placeholder: "備註", disabled: patient_exist
		    }},
		  ]
		}
		%>
		</div>

		<div class="event_box">
			<%= render partial: "clinics/patients/common/table/show_table" , locals: {
			  id: "event",
			  resource: @event,
			  fields: [
			    {class: "", v: proc{|a| 
			    	r = ""
			    	r += clinic_field_box({
			    		title: "看診醫生",
			    		value: select_field_tag("event[doctor_id]", @doctor.id, @doctors.map{|d| [d.id, d.name]})
			    	})
			    	r += clinic_field_box({
			    		title: "診療項目",
			    		value: select_field_tag("event[service_id]", @service.id, @services.map{|a| [a.id, a.name]})
			    	})
			    	r += clinic_field_box({
			    		title: "診療健保狀況",
			    		value: select_field_tag("event[health_insurance_status]", "", [[nil, "病患健保狀況（必填）"]] + Patient.health_insurance_statuses.map{|a,b| [a,a]})
			    	})												
			    	r.html_safe
			    }},
			    {class: "", v: proc{|a| 
			    	r = ""
			    	r += render_relative_partial "event_form/event_duration_field", locals: {
			    		doctor_id: @doctor.id,
			    		date: @date,
			    		hour: @hour,
			    		minute: @minute,
			    		duration: @duration
			    	}
			    	r.html_safe
			    }},
			  ]
			}
			%>
			<div class="patient_list">
        <% if @patient.persisted? %>
        <%=	link_to "就診紀錄", clinic_patient_events_path(@clinic, @patient), class: "", remote:true %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="buttons_box">
		<%= link_to "取消", "", onclick: "event.preventDefault(); $(this).closest('.lightbox').remove();", class: "btnW" %>
		<%= link_to "預約", "", onclick: "event.preventDefault(); $(this).closest('form').submit();", class: "btnBu" %>
	</div>
</div>

<script type="text/javascript">
	$(function(){
		var box = $("#clinic_event_form");
		var patientInput = box.find("[name='patient_id']");
		var serviceInput = box.find("[name='event[service_id]']");
		var doctorInput = box.find("[name='event[doctor_id]']");
		var dateInput = box.find("[name='event[date]']");
		var hourInput = box.find("[name='event[hour]']");
		var minuteInput = box.find("[name='event[minute]']");
		var durationInput = box.find("[name='event[duration]']");

		[doctorInput, serviceInput].forEach(function(input){
			$(input).on("change", function(){
				window.reloadEventForm();
			})
		});

		window.reloadEventForm = function(){
			$.ajax({
				url: "<%= url_for %>",
				method: "get",
				data: {
					patient_id: patientInput.val(),
					service_id: serviceInput.val(),
					doctor_id: doctorInput.val(),
					date: dateInput.val(),
					hour: hourInput.val(),
					minute: minuteInput.val(),
					// duration: durationInput.val(),
				}
			});			
		}
	});

</script>


