<% patient_exist = @patient.persisted? %>

<div class="header_box">
	<%= title %>
</div>
<%= hidden_field_tag "patient[source]", "現場" %>
<%= hidden_field_tag "event[source]", "現場" %>
<%= hidden_field_tag "event[status]", "已預約" %>
<%= hidden_field_tag "event[date]", @event.date.strftime("%Y/%m/%d") %>
<div class="content_box clinic_form">
	<div class="patient_box <%= 'disabled' if patient_exist %>">
	<%= hidden_field_tag "patient_id", @patient.id %>
	<%= render partial: "clinics/patients/common/table/show_table" , locals: {
	  id: "patient",
	  resource: @patient,
	  fields: [
	    {v: proc{|a| 
	    	r = "<div id='search_box'>"
	    	r += "  <div class='input_box'>"
		    r +=     text_field_tag "patient[name]", a.name, placeholder: "病患姓名", disabled: patient_exist, autocomplete: "off"
		    r += "  <div class='search_result'></div>"
		    r += "  </div>"
		    r += "<div>"
		    r.html_safe
	    }},
	    {v: proc{|a|
	      r = "<div class='date'>"
	    	r += "<span>病患生日（必填）</span>"
	    	r += "<span>民國" + select_field_tag("patient[roc_year]", roc_year(a.birthday) || 100, (50..Date.today.year).map{|y| [y,y]}, disabled: patient_exist) + "年</span>"
	    	r += "<span>" + select_field_tag("patient[month]", a.birthday.try(:month) || 1, (1..12).map{|m| [m,m]}, disabled: patient_exist) + "月</span>"
	    	r += "<span>" + select_field_tag("patient[day]", a.birthday.try(:day) || 1, (1..31).map{|d| [d,d]}, disabled: patient_exist) + "日</span>"
	        r += "</div>"
	    	r.html_safe
	    }},
	    {class: "both", v: proc{|a| 
	    	r = ""
	    	r += select_field_tag "patient[gender]", a.gender, [[nil, "病患性別(必填)"]] + Patient.genders.map{|a,b| [a,a]}, disabled: patient_exist
	    	r += select_field_tag "patient[health_insurance_status]", a.health_insurance_status, [[nil, "病患健保狀況"]] + Patient.health_insurance_statuses.keys, disabled: patient_exist
	    	r.html_safe
	    }},
	    {class: "both", v: proc{|a| 
	    	r = ""
	    	r += text_field_tag "patient[person_id]", a.person_id, placeholder: "身分證字號", disabled: patient_exist
	    	r += text_field_tag "patient[phone]", a.phone, placeholder: "病患聯絡電話", disabled: patient_exist
	    	r.html_safe
	    }},
	    {v: proc{|a| 
	    	text_field_tag "patient[note]", a.phone2, placeholder: "備註", disabled: patient_exist
	    }},
	  ]
	}
	%>
	</div>

	<div class="event_box">
		<%= render partial: "clinics/patients/common/table/show_table" , locals: {
		  id: "event",
		  resource: @event,
		  fields: [
		    {class: "both", v: proc{|a| 
		    	r = ""
		    	r += select_field_tag "event[health_insurance_status]", "", [[nil, "健保狀態"]] + Patient.health_insurance_statuses.map{|a,b| [a,a]}
		    	r += select_field_tag "event[service_id]", a.service_id, @clinic.services.map{|a| [a.id, a.name]}
		    	r.html_safe
		    }},
		    {class: "both", v: proc{|a| 
		    	r = ""
		    	r += select_field_tag "event[doctor_id]", a.doctor_id, @clinic.doctors.map{|d| [d.id, d.name]}
		    	r += render_relative_partial "event_form/event_duration_field", locals: {
		    		doctor_id: @clinic.doctors.first.id,
		    		date: a.date,
		    		hour: a.hour,
		    		minute: a.minute,
		    		duration: a.duration
		    	}
		    	r.html_safe
		    }},
		  ]
		}
		%>
	</div>
</div>
<div class="buttons_box">
	<%= link_to "取消", "", onclick: "event.preventDefault(); $(this).closest('.lightbox').remove();", class: "btnW" %>
	<%= link_to "儲存", "", onclick: "event.preventDefault(); $(this).closest('form').submit();", class: "btnBu" %>
</div>


