
<% hour_minute_segments.each_with_index do |hour_minute_segment, index| %>
	<% hour = hour_minute_segment[:hour] %>
	<% minute = hour_minute_segment[:minute] %>
  <% events = hour_minute_segment[:events] %>
	<% border_style ={0 => "border3", 15 => "border2", 30 => "border3", 45 => "border1"}[minute] %>
	<% zindex = 100 + index %>
	<% new_zindex = index %>
	<% if false %>
		<div class="d_row hour_minute_tr <%= border_style %> vacation" data-hour="<%= hour %>" style="margin-left: 0; margin-right: 0; height: <%= row_height %>px;">
		</div>
		<% next %>
	<% end %>
	<div class="d_row hour_minute_tr <%= border_style %> <%= "vacation" if has_vacation %>" data-hour="<%= hour %>" style="margin-left: 0; margin-right: 0; height: <%= row_height %>px;">
		<% broadcast_event = events.find {|e| e.hour == hour && e.minute == minute && e.status == "推播中" } %>
		<% if broadcast_event.present? %>
			<% height = broadcast_event.event_durations_count * row_height %>
			<div class="patient_event broadcast"
				data-mode="broadcast"
	    	data-id="<%= broadcast_event.id %>"
	      style="height: <%= height %>px; line-height: <%= height %>px; z-index: <%= zindex %>; width: 100%;">
	      推播中
			</div>
		<% else %>

  	<% selected_events = events.select {|e| e.hour == hour && e.minute == minute && e.is_valid_in_line?} %>
	  <% if events.length > 0 %>
			<% width = "#{80 / selected_events.length}%" if selected_events.length > 0 %>
			<%# 80 表示 最滿為 80% %>
  		<% selected_events.each do |event| %>
  		<% if event.is_valid_in_line? %>
	    <div class="patient_event exist"
				data-mode="exist"
	    	data-id="<%= event.id %>"
	      style="height: <%= event.event_durations_count * row_height %>px; z-index: <%= zindex %>; width: <%= width %>;" 
	      onclick="<%= onclick_event.call(event) %>">
	      <% if event.expired? %>
				<div class="expired_cover"></div>
	      <% end %>
	      <div class="info">
		      <div class="patient"><%= event.patient.name %></div>
		      <div class="service"><%= event.service.name %></div>
		    </div>
	      <div class="status">
	      	<div class="line_box <%= "selected" if event.source == "網路" %>" id= "<%= "check_id_#{event.id}"%>">
	      		<%= image_tag clinic_static_image_url(:line_bot) %>
	      	</div>
	        <div class="check_in <%= "selected" if event.status == "報到" %>" id= "<%= "check_id_#{event.id}"%>">
	        	<%= image_tag clinic_static_image_url(:checked_green) %>
	        </div>
	        <div class="break <%= "selected" if event.status == "爽約" %>" id="<%= "break_#{event.id}" %>">
	        	<%= image_tag clinic_static_image_url(:cross_red) %>
        	</div>
	      </div>
	    </div>
	    <% end %>
	    <% end %>
	  <% end %>
	  <% new_event_width = "#{selected_events.length > 0 ? 20 : 100}%" %>
	  <div class="patient_event new"
			data-mode="new"
	  	data-doctor_id="<%= doctor.id %>"
	  	data-date="<%= @date %>" 
	  	data-hour="<%= hour %>"
	  	data-minute="<%= minute %>"
	  	style="height: <%= row_height %>px; z-index: <%= new_zindex %>; width: <%= new_event_width %>;" 
	  	onclick="<%= onclick_new_event.call(hour, minute) %>">
	  </div>
		<% end %>
	</div>
<% end %>

