
<% hour_segments.each do |hour_segment| %>
<% hour = hour_segment[:hour] %>
<% hour_segment[:minute_segments].each_with_index do |minute_segment, index| %>
  <% minute = minute_segment[:minute] %>
  <% events = minute_segment[:events] %>
	<% border_style ={0 => "border3", 15 => "border2", 30 => "border3", 45 => "border1"}[minute] %>
	<% zindex = 1000 - index %>
	<div class="d_row hour_minute_tr <%= border_style %>" data-hour="<%= hour %>" style="margin-left: -20px; margin-right: -20px; height: <%= row_height %>px;">
	  <% if events.length > 0 %>
	  	<% event = events.find{|e| e.hour == hour && e.minute = minute && e.is_valid_in_line?} %>
	    <% if event.present? %>
	    <% source_class = {"網路" => "web", "現場" => "counter"}[event.source] %>
	    <div class="patient_event <%= source_class %>" 
	    	data-id="<%= event.id %>"
	      style="height: <%= event.event_durations_count * row_height %>px; z-index: <%= zindex %>;" 
	      onclick="<%= onclick_event.call(event) %>">
	      <div class="patient"><%= event.patient.name %></div>
	      <div class="service"><%= event.service.name %></div>
	      <div class="status">
	        <div class="check_in <%= "selected" if event.status == "報到" %>" id= "<%= "check_id_#{event.id}"%>"><%= icon_tag(:check_circle) %></div>
	        <div class="break <%= "selected" if event.status == "爽約" %>" id="<%= "break_#{event.id}" %>"><%= icon_tag(:check_circle) %></div>
	      </div>
	    </div>
	    <% else %>
	    <%# 第一個的 event_duration 則不顯示 %>
	    <% end %>
	  <% else %>
	  <div class="patient_event"
	  	data-doctor_id="<%= doctor.id %>"
	  	data-date="<%= @date %>" 
	  	data-hour="<%= hour %>"
	  	data-minute="<%= minute %>"
	  	style="height: <%= row_height %>px; z-index: <%= zindex %>;" 
	  	onclick="<%= onclick_new_event.call(hour, minute) %>">
	  </div>
	  <% end %>
	</div>
<% end %>
<% end %>

