
<div id="date_search_nav">
  <%= hidden_field_tag "segment", @segment, id: "segment_input" %>
  <ul class="date_select">
    <% @range_segments.each do |segment| %>
    <li>
      <%= link_to segment, "", 
        class: "day_btn #{"selected" if segment == @segment}", 
        onclick: "event.preventDefault(); $('#segment_input').val('#{segment}'); window.reloadFrame();" %>
    </li>
    <% end %>
  </ul>
  <div class="search_box">
    <div class="inbox">
      <%= text_field_tag "", "", placeholder: "輸入病患名稱以查詢", class: "clinic_search_input", data: {url: clinic_events_selector_search_events_path(@clinic)} %>
      <%= image_tag clinic_static_image_url(:search) %>
    </div>
    <div class="search_result"></div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#date_search_nav .search_box input").on("keydown", function(){
      var key = $(this).val();
      if(key.length){
        var path = "<%= clinic_events_selector_search_events_path %>";
        path = path + "?key=" + key;
        $.getScript(path);
      } else {
        $("#search_box .search_result").html('');
      }
    });
    $("#search_box").on("click", ".search_result ul li", function(){
      var name = $(this).data("name");
      $("input#search").val(name);
      // $("#search_box .search_result").html('');
      $("#search_box").find('form').submit();
    });
  })
</script>

