<div id="list">
	<div class="title">
		今日看診名單
		<div class="float_r">
			<%= link_to "新增預約", url_for(action: :new, doctor_id: @doctor_id, date: @date), remote: true, class: "btnBu" %>
		</div>
	</div>
	<div class="note">
		<span><%= icon_tag(:check_circle, class: "colorGn") %>報到</span>
		<span><%= icon_tag(:close_circle, class: "colorR") %>爽約</span>
	</div>
	<div class="table_box">
		<div class="e_row title_row">
			<div class="e_col">狀態</div>
			<div class="e_col">病患</div>
			<div class="e_col">項目</div>
			<div class="e_col">醫生</div>
			<div class="e_col">預約時間</div>
		</div>
		<% segment_events = [
				{name: "上午診", segment_key: "早上", hours: segment_hours("早上")},
				{name: "下午診", segment_key: "下午", hours: segment_hours("下午")},
				{name: "晚上診", segment_key: "晚上", hours: segment_hours("晚上")},
			].map do |segment|
				segment[:events] = @events.select do |event|
					event.hour >= segment[:hours].first && event.hour < segment[:hours].last
				end.sort do |a,b|
					(a.hour * 60 + a.minute) - (b.hour * 60 + b.minute)
				end
				segment
			end

			if @segment != "整日"
				segment_events = segment_events.select do |segment_event|
					segment_event[:segment_key] == @segment
				end
			end
		%>
		<% segment_events.each do |segment| %>
		<div class="segment">
			<div class="title alignC">
				<%= segment[:name] %>
			</div>
			<div class="content">
				<% segment[:events].each do |event| %>
				<% if !event.is_valid_in_line? %>
				<% next %>
				<% end %>
				<div class="e_row">
					<div class="e_col">
						<%= list_event_view(event) %>
					</div>
					<div class="e_col"><%= event.patient.name %></div>
					<div class="e_col"><%= event.service.name %></div>
					<div class="e_col"><%= event.doctor.name %></div>
					<div class="e_col"><%= hour_minute_format(event.hour, event.minute) %></div>
				</div>
				<% end %>
			</div>
		</div>
		<% end %>
		</div>
	</div>
</div>