<div id="calendar">
  <div class="header">
  </div>
  <div class="day_box">
    <ul>
      <% [
        {name: "整日", hours: (6..22), selected: true},
        {name: "早上", hours: (6..12)},
        {name: "下午", hours: (12..18)},
        {name: "晚上", hours: (18..22)},
      ].each do |elm| %>
      <li>
        <% if elm[:selected] %>
        <%= link_to elm[:name], "", class: "day_btn btnBu", data: {start: elm[:hours].first, end: elm[:hours].last} %>
        <% else %>
        <%= link_to elm[:name], "", class: "day_btn", data: {start: elm[:hours].first, end: elm[:hours].last} %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="table_box">
    <table>
      <tr class="border1">
        <th></th>
        <% @doctors.each do |doctor| %>
        <th><%= doctor.name %></th>
        <% end %>
      </tr>
      <% (6..22).each do |hour| %>
      <% [0, 15, 30, 45].each do |minute| %>
      <% border_style ={0 => "border3", 15 => "border2", 30 => "border3", 45 => "border1"}[minute] %>
      <tr class="hour_minute_tr <%= border_style %>" data-hour="<%= hour %>">
        <% if minute%30 == 0 %>
        <td class="hour"><%= "#{hour}:#{sprintf('%02d', minute)}" %></td>
        <% else %>
        <td class="hour"> </td>
        <% end %>
        <% @doctors.each do |doctor| %>
        <% event = doctor.events.find{|a| a.date == @date && a.hour == hour && a.minute == minute} %>
        <td class="">
          <% if event.present? %>
          <div class="patient_event">
            <div class="patient"><%= event.patient.name %></div>
            <div class="service"><%= event.service.name %></div>
          </div>
          <% end %>
        </td>
        <% end %>
      </tr>
      <% end %>
      <% end %>
    </table>
  </div>

</div>
<script type="text/javascript">
  $(function(){
    $(".day_btn").on("click", function(e){
      e.preventDefault();
      //btn
      $(".day_box .day_btn").removeClass("btnBu");
      $(this).addClass('btnBu');
      //table
      var s = $(this).data("start");
      var e = $(this).data("end");
      $("#calendar table tr.hour_minute_tr").each(function(i, tr){
        var h = $(tr).data('hour');
        if(h >= s && h <= e){
          $(tr).removeClass('hidden');
        } else {
          $(tr).addClass('hidden');
        }
      });
    });
  })
</script>

