
<div id="context_menu">
	<ul class="new_mode">
		<li class="new">新增</li>
		<li class="broadcast">洗牙推播</li>
	</ul>
  <ul class="new_broadcast_mode">
    <li class="broadcast">洗牙推播</li>
  </ul>
	<ul class="edit_mode">
		<%#<li class="edit">編輯</li>%>
    <li class="event_arrive">報到</li>
    <li class="event_delay">爽約</li>
		<li class="remove">取消預約</li>
	</ul>	
  <ul class="broadcast_mode">
    <li class="remove">取消預約</li>
  </ul> 
</div>

<script type="text/javascript">
	$(function(){
		var contextMenu = $("#context_menu");
		var eventId, doctorId, date, hour, minute, duration;
    $("body")[0].addEventListener('contextmenu', function(e) {
      if(!$(e.target).closest('#calendar_day').length > 0){
        contextMenu.removeClass("selected");
        return;
      }
      e.preventDefault();
      var patientElm = function(){
        if($(event.target).is(".patient_event")){
          return $(event.target);
        } else {
          return $(event.target).closest(".patient_event")
        }
      }();
      var x = e.clientX;
      var y = e.clientY;
      mode = patientElm.data("mode");

      window.showContentMenu(mode, x, y);
    }, false);

    window.showContentMenu = function(mode, x, y, args){
      var args = args || {};
      var patientElm = function(){
        if($(event.target).is(".patient_event")){
          return $(event.target);
        } else {
          return $(event.target).closest(".patient_event")
        }
      }();
      contextMenu.css({top: y, left: x});
      contextMenu.addClass("selected");
      contextMenu.find(".new_mode").addClass("hidden");
      contextMenu.find(".edit_mode").addClass("hidden");
      contextMenu.find(".broadcast_mode").addClass("hidden");
      contextMenu.find(".new_broadcast_mode").addClass("hidden");
      if(mode == "new"){
        contextMenu.find(".new_mode").removeClass("hidden");
        doctorId = patientElm.data("doctor_id");
        date = patientElm.data("date");
        hour = patientElm.data("hour");
        minute = patientElm.data("minute");                
      } else if(mode == "new_broadcast"){
        contextMenu.find(".new_broadcast_mode").removeClass("hidden");
        doctorId = patientElm.data("doctor_id");
        date = patientElm.data("date");
        hour = args.hour;
        minute = args.minute;
        duration = args.duration;
      } else if(mode == "exist") {
        contextMenu.find(".edit_mode").removeClass("hidden");
        eventId = patientElm.data("id");
      } else {
        contextMenu.find(".broadcast_mode").removeClass("hidden");
        eventId = patientElm.data("id");
      }
    }
    contextMenu.find(".new").click(function(){
    	$.ajax({
    		url: "<%= url_for(action: :new) %>",
    		method: "get",
    		dataType: "script",
    		data: {
    			doctor_id: doctorId,
    			date: date,
    			hour: hour,
    			minute: minute,
    			duration: duration
    		}
    	});
    });
    contextMenu.find(".remove").click(function(){
  		$.ajax({
  			url: "<%= url_for(action: :destroy, id: "tmp") %>".replace("tmp", eventId),
  			method: "delete",
  			dataType: "script",
  			data: {}
  		})
    });
   //  contextMenu.find(".edit").click(function(){
			// $.ajax({
			// 	url: "<%# url_for(action: :edit, id: "tmp") %>".replace("tmp", eventId),
			// 	method: "get",
			// 	dataType: "script",
			// })
   //  });
    contextMenu.find(".event_arrive").click(function(){
      $.ajax({
        url: "<%= url_for(action: :update, id: "tmp") %>".replace("tmp", eventId),
        method: "patch",
        dataType: "script",
        data: {
         event: {
          status: "報到"
         }
        }
      })
    });
    contextMenu.find(".event_delay").click(function(){
      $.ajax({
        url: "<%= url_for(action: :update, id: "tmp") %>".replace("tmp", eventId),
        method: "patch",
        dataType: "script",
        data: {
         event: {
          status: "爽約"
         }
        }
      })
    });
    contextMenu.find(".broadcast").click(function(){
      $.ajax({
        url: "<%= new_clinic_lightbox_event_notification_schedule_path(@clinic) %>",
        method: "get",
        data: {
          event_notification_schedule: {
            category: "回診推播",
            schedule_type: "排程發送",
            doctor_id: doctorId,
            date: date,
            hour: hour,
            minute: minute,
            duration: 60
          }
        }
      })
    });
    $("body").click(function(){
      if(window.durationNewMode){
        window.durationNewMode = false;
        return;
      }
    	contextMenu.removeClass("selected");
    })

    //for broadcast
    var selecting = false;
    var startHour, startMinute, selectedElm;
    var tableBox = $("#calendar_day .table_box");
    tableBox.find(".patient_event.new").on("mousedown", function(){
      var d = $(this).data();
      startHour = d.hour;
      startMinute = d.minute;
      $(this).addClass("selected_broadcast");
      selecting = true;
    });

    tableBox.on("mousemove", function(e){
      if(selecting){
        $(e.target).closest(".patient_event").addClass("selected_broadcast");
      }
    });

    tableBox.find(".patient_event.new").on("mouseup", function(e){
      var d = $(this).data();
      var startTime = startHour * 60 + startMinute;
      var endTime = d.hour * 60 + d.minute;
      var delta = Math.abs(endTime - startTime) + 15;
      if(delta > 15){
        var x = e.clientX;
        var y = e.clientY;
        window.showContentMenu("new_broadcast", x, y, {
          hour: startHour,
          minute: startMinute,
          duration: delta,
        });
        window.durationNewMode = true;        
      }
      tableBox.find(".selected_broadcast").removeClass("selected_broadcast");
      selecting = false;
    });
	})
	
</script>

