
<div id="context_menu">
	<ul class="new_mode">
		<li class="new">新增</li>
		<li class="broadcast">洗牙推播</li>
	</ul>
  <ul class="new_broadcast_mode">
    <li class="broadcast">洗牙推播</li>
  </ul>
	<ul class="edit_mode">
		<%#<li class="edit">編輯</li>%>
    <li class="event_arrive">報到</li>
    <li class="event_delay">爽約</li>
		<li class="remove">取消預約</li>
	</ul>	
  <ul class="broadcast_mode">
    <li class="remove">取消預約</li>
  </ul> 
</div>

<script type="text/javascript">
	$(function(){
		var contextMenu = $("#context_menu");
    var contextData = {}
    $("body")[0].addEventListener('contextmenu', function(e) {
      if(!$(e.target).closest('#calendar_day').length > 0){
        contextMenu.removeClass("selected");
        return;
      }
      e.preventDefault();
      var patientElm = function(){
        if($(event.target).is(".patient_event")){
          return $(event.target);
        } else {
          return $(event.target).closest(".patient_event")
        }
      }();
      var x = e.clientX;
      var y = e.clientY;
      mode = patientElm.data("mode");
      if(mode == "new"){
        var tr = patientElm.closest("tr");
        window.showContentMenu(mode, x, y, {
          mode: "new",
          doctorId: tr.data("doctor_id"),
          date: tr.data("date"),
          hour: tr.data("hour"),
          minute: tr.data("minute")
        });
      } else if(mode == "exist"){
        window.showContentMenu(mode, x, y, {
          id: patientElm.data("id")
        });
      }
    }, false);

    window.showContentMenu = function(mode, x, y, args){
      var args = args || {};
      contextMenu.css({top: y, left: x});
      contextMenu.addClass("selected");
      contextMenu.find(".new_mode").addClass("hidden");
      contextMenu.find(".edit_mode").addClass("hidden");
      contextMenu.find(".broadcast_mode").addClass("hidden");
      contextMenu.find(".new_broadcast_mode").addClass("hidden");
      if(mode == "new"){
        contextMenu.find(".new_mode").removeClass("hidden");
        contextData = {
          doctorId: args.doctorId,
          date: args.date,
          hour: args.hour,
          minute: args.minute,
        }
      } else if(mode == "exist") {
        contextMenu.find(".edit_mode").removeClass("hidden");
        contextData = {
          id: args.id
        }
      } else if(mode == "new_broadcast"){
        contextMenu.find(".new_broadcast_mode").removeClass("hidden");
        contextData = {
          doctorId: args.doctorId,
          date: args.date,
          hour: args.hour,
          minute: args.minute,       
          duration: args.duration
        }
      }
    }
    contextMenu.find(".new").click(function(){
    	$.ajax({
    		url: "<%= url_for(action: :new) %>",
    		method: "get",
    		dataType: "script",
    		data: {
    			doctor_id: contextData.doctorId,
    			date: contextData.date,
    			hour: contextData.hour,
    			minute: contextData.minute,
    			duration: contextData.duration
    		}
    	});
    });
    contextMenu.find(".remove").click(function(){
  		$.ajax({
  			url: "<%= url_for(action: :destroy, id: "tmp") %>".replace("tmp", contextData.id),
  			method: "delete",
  			dataType: "script",
  			data: {}
  		})
    });
   //  contextMenu.find(".edit").click(function(){
			// $.ajax({
			// 	url: "<%# url_for(action: :edit, id: "tmp") %>".replace("tmp", contextData.id),
			// 	method: "get",
			// 	dataType: "script",
			// })
   //  });
    contextMenu.find(".event_arrive").click(function(){
      $.ajax({
        url: "<%= url_for(action: :update, id: "tmp") %>".replace("tmp", contextData.id),
        method: "patch",
        dataType: "script",
        data: {
          change_status: 1,
          event: {
            status: "報到"
          }
        }
      })
    });
    contextMenu.find(".event_delay").click(function(){
      $.ajax({
        url: "<%= url_for(action: :update, id: "tmp") %>".replace("tmp", contextData.id),
        method: "patch",
        dataType: "script",
        data: {
          change_status: 1,
          event: {
            status: "爽約"
          }
        }
      })
    });
    contextMenu.find(".broadcast").click(function(){
      $.ajax({
        url: "<%= new_clinic_lightbox_event_notification_schedule_path(@clinic) %>",
        method: "get",
        data: {
          event_notification_schedule: {
            category: "回診推播",
            schedule_type: "排程發送",
            doctor_id: contextData.doctorId,
            date: contextData.date,
            hour: contextData.hour,
            minute: contextData.minute,
            duration: contextData.duration
          }
        }
      })
    });
    $("body").click(function(){
      if(window.newBroadcastMode){
        window.newBroadcastMode = false;
        return;
      }
      contextMenu.removeClass("selected");
    })

    //for broadcast
    var startHour, startMinute, selectedElm;
    var tableBox = $("#calendar_day .table_box");
    var selBroadcastElm, baseTop, selTop, selHeight, lastBroadcastElm;
    tableBox.find(".d_row.value_row").on("mousedown", function(){
      //clear previous one
      $(".broadcast_event.new").addClass("hidden");

      if(event.which != 1){
        <%# 1 是滑鼠左鍵, 3  是滑鼠右鍵 %>
        return;
      }

      //start sel broadcast
      var tr = $(this);
      var elm = tr.find(".broadcast_event")
      if(elm.hasClass("exist")){
        //推播中
        return;
      }
      selBroadcastElm = elm;
      selBroadcastElm.removeClass("hidden");
      selTop = selBroadcastElm.offset().top;
      baseTop = selBroadcastElm.offset().top - selBroadcastElm.position().top;
      selHeight = selBroadcastElm.closest(".d_row").height();

      //save hour and minute
      var d = tr.data();
      selBroadcastElm.data("doctor_id", tr.data("doctor_id"));
      selBroadcastElm.data("date", tr.data("date"));
      selBroadcastElm.data("start_hour", d.hour);
      selBroadcastElm.data("start_minute", d.minute);
      selBroadcastElm.data("end_hour", d.hour);
      selBroadcastElm.data("end_minute", d.minute);
    });

    tableBox.on("mousemove", function(e){
      if(!selBroadcastElm){
        return;
      }
      var tr = $(e.target).closest('.d_row.value_row');
      if(tr.length == 0){
        return;
      }
      //set position
      var thisTop = tr.offset().top;
      var thisHeight = tr.height();
      if(thisTop >= selTop){
        var height = thisTop - selTop + selHeight;
        selBroadcastElm.css({top: selTop - baseTop, height: height + "px"});
      } else {
        var height = selTop - thisTop + selHeight;
        selBroadcastElm.css({top: thisTop - baseTop, height: height + "px"});
      }

      //set hour and minute
      var d = tr.data();
      selBroadcastElm.data("end_hour", d.hour);
      selBroadcastElm.data("end_minute", d.minute);
    });

    tableBox.on("mouseup", function(e){
      if(selBroadcastElm){
        var d = selBroadcastElm.data();
        var startTime = d.start_hour * 60 + d.start_minute;
        var endTime = d.end_hour * 60 + d.end_minute;
        var delta = Math.abs(endTime - startTime) + 15;
        var x = e.clientX;
        var y = e.clientY;
        window.showContentMenu("new_broadcast", x, y, {
          doctorId: d.doctor_id,
          date: d.date,
          hour: d.start_hour,
          minute: d.start_minute,
          duration: delta,
        });
        lastBroadcastElm = selBroadcastElm;
        selBroadcastElm = null;
        window.newBroadcastMode = true;
      }
    });
	})
	
</script>

