

<div id="linebot_patients_form">
	<div class="inbox">
		<%= hidden_field_tag "line_user_id", "" %>
		<h1>資料確認</h1>
		<div class="image_box">
			<%= image_tag linebot_static_image_url(:form) %>
		</div>
		<div class="content_box">
			<% [
				{key: "病患姓名", value: @patient.name},
				{key: "病患性別", value: @patient.gender},
				{key: "出生年月日", value: roc_format(@patient.birthday, 2) },
				{key: "身分證字號", value: @patient.person_id},
				{key: "電話號碼", value: @patient.phone},
				{key: "健保狀況", value: @patient.health_insurance_status},
				{key: "備註", value: @patient.note},
				].each do |elm| %>
			<div class="d_row">
			<%= elm[:key] %> : <%= elm[:value] %>
			</div>
			<% end %>
			<div class="d_row">
				<%= text_field_tag "phone", "" %>
			</div>
			<div class="buttons_box">
				<%= submit_tag "確定", class: "btnBu" %>
			</div>
		</div>
	</div>
</div>


