<div id="events-index">
	<div class="main-box">
		<%= render_relative_partial "index/doctors_nav" %>
		<%= render_relative_partial "index/date_search_nav" %>
		<%= render_relative_partial "index/calendar_day" %>
	</div>
	<div class="side-box">
		<%= render_relative_partial "index/calendar_month" %>
		<%= render_relative_partial "index/list" %>
	</div>
</div>


<script type="text/javascript">
	$(function(){
		window.reloadFrame = function(){
			var doctorId = $("#doctor_input").val();
			var date = $("#date-input").val();
			var segment = $("#segment_input").val();
			$.ajax({
				url: "<%= url_for %>",
				method: "get",
				dataType: "script",
				data: {
					doctor_id: doctorId,
					date: date,
					segment: segment						
				}
			})
		}
	})
</script>
