<div id="events_index">
	<%= form_tag url_for, method: "get" do %>
	<div class="main_box">
		<div class="doctor_nav_container">
			<%= render_relative_partial "index/1_doctors_nav" %>
		</div>
		<div class="date_search_nav_container">
			<%= render_relative_partial "index/2_date_search_nav" %>
		</div>
		<div class="calendar_day_container">
			<%= render_relative_partial "index/3_calendar_day" %>
		</div>
		<%= render_relative_partial "index/context_menu" %>
	</div>
	<div class="side_box">
		<div class="calendar_month_container">
			<%= render_relative_partial "index/4_calendar_month" %>
		</div>
		<div class="list_container">
			<%= render_relative_partial "index/5_list" %>
		</div>
	</div>
	<% end %>
</div>


<script type="text/javascript">
	$(function(){
		window.reloadFrame = function(){
			$("#events_index form").submit();
			// var doctorId = $("#doctor_input").val();
			// var date = $("#date_input").val();
			// var segment = $("#segment_input").val();
			// $.ajax({
			// 	url: "<%# url_for %>",
			// 	method: "get",
			// 	dataType: "script",
			// 	data: {
			// 		doctor_id: doctorId,
			// 		date: date,
			// 		segment: segment						
			// 	}
			// })
		}
		var currentTimeId = setInterval(function(){
			checkCurrentTime();
		}, 60 * 1000);
		function checkCurrentTime(){
			var timeNow = new Date;
			var tn = timeNow.getHours() * 60 + timeNow.getMinutes();
			$(".d_col.title_col .d_row .current_time").remove();
			$(".d_col.title_col .d_row").each(function(i, row){
				var data = $(row).data();
				var t = data.hour * 60 + data.minute;
				var delta = tn - t;
				if(delta > 0 && delta <= 15){
					var top = $(row).outerHeight() * (delta / 15);
	        var width = function(){
	        	var w;
	          if($(row).closest('.d_block').length > 0){
	            w = $(row).closest('.d_block').width();
	          } else {
	            w =  $(row).closest('.table_box').width();
	          }
	          w -= 50; <%# 標題寬度為 50 %>
	          return w;
	        }();
					$(row).append("<div class='current_time' style='top: " + top + "px; width: " + width + "px;'></div>")
				}
			});
		}
		checkCurrentTime();
	})
</script>
