
<% if @doctor.present? %>
<div id="linebot_doctors_show">
	<div class="image_box">
		<%= image_tag @doctor.photo.url, alt: @doctor.name %>
	</div>
	<div class="info-box">
		<div class="title_box">
			<h2><%= @doctor.title %></h2>
			<h1><%= @doctor.name %></h1>
		</div>
		<div class="detail-box">
			<ul>
				<% [
					{name: "主治", content: @doctor.pro},
					{name: "學經歷", content: @doctor.experience},
					{name: "看診時間", content: @doctor.doctor_durations_note_html.html_safe},
					].each do |elm| %>
				<li>
					<h3 class="title">
						<%= elm[:name] %>
					</h3>
					<p>
						<%= elm[:content] %>
					</p>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<% else %>

<div id="linebot_doctors_show">
	<div class="image_box">
		No doctor
	</div>
	<div class="info-box">
		<div class="title_box">
		</div>
		<div class="not-found-box">
			<h4>404</h4>
			<p>找不到該醫生資訊</p>
		</div>
	</div>
</div>

<% end %>
