<div id="form_box">
	<% if params[:event_notification_id] %>
	<%# for event_notification %>
	<%= hidden_field_tag "event_notification_id", params[:event_notification_id] %>
	<% end %>
	<%= render_relative_partial "form_box/1_doctors_box" %>
	<%= render_relative_partial "form_box/2_services_box" %>
	<%= render_relative_partial "form_box/3_date_box" %>
	<%= render_relative_partial "form_box/4_time_box" %>
</div>



