<div id="form_box">
	<% if params[:event_notification_id] %>
	<%# for event_notification %>
	<%= hidden_field_tag "event_notification_id", params[:event_notification_id] %>
	<% end %>
	<div class="doctors_box">
		<div class="image_box">
			<div class="bg_center_image round" style="background-image: url(<%= @doctor.photo.url %>);" data-image_urls="<%= @clinic.doctors.map{|a| [a.id, a.photo.url]}.to_h.to_json %>" id="doctor_img">
			</div>
			<p><%= select_field_tag "event[doctor_id]", @doctor.id, @clinic.doctors.map{|a| [a.id, a.name]}, id: "doctor_select" %></p>
		</div>
		<div class="title">
			選擇日期與時間
		</div>
	</div>
	<div class="services_box">
		<%= select_field_tag "event[service_id]", @service.id, @doctor.services.map{|a| [a.id, "#{a.name}(#{a.duration})" ]}, class: "form-control", id: "service_select" %>
	</div>

	<div class="date_box">
		<div class="month_box">
			<%= link_to icon_tag(:angle_left), "", id: "last_week"%>
			<span>
				<span class="year"><%= @date.year  %></span>年
				<span class="month"><%= @date.month %></span>月
			</span>
			<%= link_to icon_tag(:angle_right), "", id: "next_week" %>
		</div>
		<div class="wday_box">
			<ul>
			<% ch_wdays.each do |wday, ch_wday| %>
				<li class="<%= 'select' if wday == @date.wday %>">
					<%= link_to ch_wday, "javascript:" %>
				</li>	
			<% end %>
			</ul>
		</div>
		<div class="day_box">
			<ul>
				<% sunday = @date - @date.wday.day %>
				<% (0..6).each do |i| %>
				<% date = (sunday + i.day) %> 
				<li>
					<%= radio_button_tag "event[date]", date.strftime('%Y/%m/%d'), @date.day == date.day %>
					<%= link_to "#{date.day}日", "javascript:", id: "day_input", onclick: "event.preventDefault(); $(this).siblings('input').click();", class: "#{'today' if date == Date.today}" %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="time_box">
		<% i = 0 %>
		<% @select_event_durations.each do |segment| %>
		<div class="segment_box">
			<div class="title">
				<%= segment[:name] %>
			</div>
			<% segment[:hour_minute_segments].each do |hour_minute_segment| %>
			<% next if !hour_minute_segment[:has_duration] %>
			<% hour = hour_minute_segment[:hour] %>
			<ul class="hours_box">
				<% hour_minute_segment[:minute_segments].each do |minute_segment| %>
				<% minute = minute_segment[:minute] %>
				<li class="minutes_box" data-click_duration_count="<%= @service.duration_number / Clinic.default_duration %>">
					<%= radio_button_tag "event[hour_minute_duration]", hour_minute_duration_format(hour, minute, @service.duration), false, disabled: !minute_segment[:enabled]  %>
					<%= link_to hour_minute_format(hour, minute), "", class: "", data: {index: i} %>
					<% i += 1 %>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<% end %>
	</div>
</div>



