<div id="linebot-event-show">
	<%= form_tag url_for(action: :update), method: "patch", remote: true do %>
	<%= hidden_field_tag "line_account_id", params[:line_account_id] %>
	<%= render_relative_partial "show/form_box" %>
	<div class="submit_box">
		<%= submit_tag "確定", class: "btnW" %>
	</div>
	<% end %>
</div>

<%= render_relative_partial "show/liff_js" %>
<script type="text/javascript">
	$(function(){
		var container = $("#linebot-event-show");

		container.on("change", "#doctor_select", function(e){
			reloadForm();
		});

		container.on("change", "#service_select", function(){
			reloadForm();
		});

		container.on("click", "#last_week", function(e){
			e.preventDefault();
			var d = new Date($("[name='event[date]']:checked").val());
			d = new Date(d.getTime() - 7 * 24 * 60 * 60 * 1000);
			reloadForm({
				date: d.getFullYear() + "/" + (d.getMonth()+1) + "/" + d.getDate()
			})
		});

		container.on("click", "#next_week", function(e){
			e.preventDefault();
			var d = new Date($("[name='event[date]']:checked").val());
			d = new Date(d.getTime() + 7 * 24 * 60 * 60 * 1000);
			reloadForm({
				date: d.getFullYear() + "/" + (d.getMonth()+1) + "/" + d.getDate()
			})
		});

		container.on("click", ".day_box a", function(e){
			reloadForm();
		});

		container.on("click", ".time-box ul.hours-box li a", function(e){
			e.preventDefault();
			var input = $(this).siblings("input")[0];
			if(input.disabled){
				return
			}
			var clickDurationCount = $(this).closest('.minutes-box').data("click_duration_count");
			container.find(".time-box ul li a").removeClass("selected");

			var index = $(this).data("index");
			for(let i = 0; i < clickDurationCount; i++){
				var a = container.find("[data-index='" + (index + i) + "']");
				a.addClass("selected");
			}
		});

		function reloadForm(args){
			var args = args || {};
			var line_account_id = "<%= params[:line_account_id] %>";
			var doctorId = $("#doctor_select").val();
			var serviceId = $("#service_select").val();
			date = args.date || $("[name='event[date]']:checked").val();
			$.ajax({
				url: "<%= url_for %>",
				method: "get",
				dataType: "script",
				data: {
					line_account_id,
					date: date,
					doctor_id: doctorId,
					service_id: serviceId,
				}
			});
		}

		function slick(){
			$(".month_box ul").slick({
	      slidesToShow: 3,
	      slidesToScroll: 3,
	      arrows: true,
	      dots: false,
	      arrow: true,
	      autoplay: false,
	      focusOnSelect: true,
	      variableWidth: true
	    });			
		}
	})
</script>
