

<div id="linebot_event_show">
	<%= form_tag url_for(action: :update), method: "patch", remote: true do %>
	<%= hidden_field_tag "line_account_id", params[:line_account_id] %>
	<%= render_relative_partial "show/doctors_box" %>
	<%= render_relative_partial "show/services_box" %>
	<%= render_relative_partial "show/date_box" %>
	<%= render_relative_partial "show/time_box" %>
	<div class="submit_box">
		<%= submit_tag "確定", class: "btn2" %>
	</div>
	<% end %>
</div>
<div>
	<%= @line_account.display_name %>
</div>

<script type="text/javascript">
	$(function(){

		function slick(){
			$(".month_box ul").slick({
	      slidesToShow: 3,
	      slidesToScroll: 3,
	      arrows: true,
	      dots: false,
	      arrow: true,
	      autoplay: false,
	      focusOnSelect: true,
	      variableWidth: true
	    });			
		}
	})
</script>
