

<div id="linebot_event_show">
	<%= form_tag url_for(action: :update), method: "patch", remote: true do %>
	<%= hidden_field_tag "line_account_id", params[:line_account_id] %>
	<div class="navbar">
		<div class="image_box">
			<div class="bg_center_image round" style="background-image: url(<%= @doctor.photo.url %>);" data-image_urls="<%= @clinic.doctors.map{|a| [a.id, a.photo.url]}.to_h.to_json %>" id="doctor_img">
			</div>
			<p><%= select_field_tag "event[doctor_id]", @doctor.id, @clinic.doctors.map{|a| [a.id, a.name]}, id: "doctor_select" %></p>
		</div>
		<div class="title">
			選擇日期與時間
		</div>
	</div>
	<div class="month_box">
		<% d = Date.today %>
		<%= select_field_tag "", "#{d.year}-#{d.month}", (0..12).map{|t| d1 = d + t.month; ["#{d1.year}-#{d1.month}", "#{d1.year}年 #{d1.month}月"]}, class: "form-control alignC", id: "year_month_input" %>
	</div>
	<div class="wday_box">
		<ul>
		<% [
			{name: "週日", number: 0},
			{name: "週一", number: 1},
			{name: "週二", number: 2},
			{name: "週三", number: 3},
			{name: "週四", number: 4},
			{name: "週五", number: 5},
			{name: "週六", number: 6},
		].each do |wday| %>
			<li class="<%= 'select' if wday[:number] == Date.today.wday %>">
				<%= link_to wday[:name], "javascript:" %>
			</li>	
		<% end %>
		</ul>
	</div>
	<div class="day_box">
		<ul>
			<% sunday = Date.today - Date.today.wday.day %>
			<% (0..6).each do |i| %>
			<% date = (sunday + i.day) %> 
			<li>
				<%= radio_button_tag "event[date]", date.strftime('%Y/%m/%d'), Date.today.day == date.day %>
				<%= link_to "#{date.day}日", "javascript:", id: "day_input", onclick: "event.preventDefault(); $(this).siblings('input').click();" %>
			</li>
			<% end %>
		</ul>
	</div>
	<div class="time_box">
		<% disabled_time = ["1000", "1015", "1130", "1500", "1545", "1600", "1615", "1745", "1930", "1945", "2000", "2130"] %>
		<% [
			{name: "上午診", hours: (10..11)},
			{name: "下午診", hours: (15..17)},
			{name: "晚上診", hours: (19..21)},
		].each do |segment| %>
		<div class="segment_box">
			<div class="title">
				<%= segment[:name] %>
			</div>
			<% segment[:hours].each do |hour| %>
			<ul class="hours_box">
				<% [0, 15, 30, 45].each do |minute| %>
				<li>
					<% name = "#{hour}#{sprintf('%02d', minute)}" %>
					<%= radio_button_tag "event[hour_minute]", "#{hour}:#{minute}", false, disabled: disabled_time.include?(name) %>
					<%= link_to name, "", onclick: "event.preventDefault(); $(this).siblings('input').click();" %>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<% end %>
	</div>
	<div class="submit_box">
		<%= submit_tag "確定", class: "btn2" %>
	</div>
	<% end %>
</div>
<div>
	<%= @line_account.display_name %>
</div>

<script type="text/javascript">
	$(function(){

		$("#doctor_select").on("change", function(e){
			var doctorId = this.value;
			var imageUrl = $("#doctor_img").data("image_urls")[doctorId];
			$("#doctor_img").css("background-image", "url(" + imageUrl + ")");
		});

		function slick(){
			$(".month_box ul").slick({
	      slidesToShow: 3,
	      slidesToScroll: 3,
	      arrows: true,
	      dots: false,
	      arrow: true,
	      autoplay: false,
	      focusOnSelect: true,
	      variableWidth: true
	    });			
		}
	})
</script>
