
<div class="date_box">
	<div class="month_box">
		<%= link_to icon_tag(:angle_left), "", id: "last_week"%>
		<span>
			<span class="year"><%= @date.year  %></span>年
			<span class="month"><%= @date.month %></span>月
		</span>
		<%= link_to icon_tag(:angle_right), "", id: "next_week" %>
	</div>
	<div class="wday_box">
		<ul>
		<% ch_wdays.each do |wday, ch_wday| %>
			<li class="<%= 'select' if wday == @date.wday %>">
				<%= link_to ch_wday, "javascript:" %>
			</li>	
		<% end %>
		</ul>
	</div>
	<div class="day_box">
		<ul>
			<% sunday = @date - @date.wday.day %>
			<% (0..6).each do |i| %>
			<% date = (sunday + i.day) %> 
			<li>
				<%= radio_button_tag "event[date]", date.strftime('%Y/%m/%d'), @date.day == date.day %>
				<%= link_to "#{date.day}日", "javascript:", id: "day_input", onclick: "event.preventDefault(); $(this).siblings('input').click();", class: "#{'today' if date == Date.today}" %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
