
<div id="member_username_edit" class="lightbox">
	<%= form_tag url_for(action: :update), method: "patch", class: "inbox", remote: true do %>
		<%= hidden_field_tag "target", "password" %>
		<div class="header_box">
			編輯密碼
		</div>
		<div class="content_box clinic_form">
			<div class="field_box pb10">
				<label>舊密碼</label>
				<%= password_field_tag "ori_password", "" %>
			</div>
			<div class="field_box pb10">
				<label>新密碼</label>
				<%= password_field_tag "member[password]", "" %>
			</div>
			<div class="field_box pb10">
				<label>新密碼確認</label>
				<%= password_field_tag "member[password_confirmation]", "" %>
			</div>
		</div>
		<div class="buttons_box">
			<%= link_to "返回", "javascript: $('#member_username_edit').remove();", class: "btnW" %>
			<%= submit_tag "確定", class: "btnBu" %>
		</div>
	<% end %>
</div>
