
<div id="clinic_info">
  <%= form_tag url_for(action: :update), method: "patch", class: "inbox form_border clinic_form clinic_form_box", remote: true do %>
    <div class="content_box">
      <%= render partial: "clinics/common/clinic_form_table" , locals: {
        id: "clinic_info_table",
        resource: @clinic,
        fields: [
          {t: "照片", v: proc{ |a| 
            r = "<div class='clinic_photo_box' onclick=\"$.getScript('#{new_clinic_info_photo_path(@clinic)}');\">"
            r += bg_center_image @clinic.photo_url
            r += image_tag common_static_image_url(:pic_edit3), class: "pic_edit"
            r += "</div>"
            r += "<span class='photo_note'>請上傳 200 * 200 px 以上的照片</span>"
            r.html_safe
          }},
          {t: "診所名稱(必填)", v: proc{|a| 
            text_field_tag "clinic[name]", a.name
          }},
          {t: "診所電話(必填)", v: proc{|a| 
            text_field_tag "clinic[phone]", a.phone
          }},
          {t: "診所電話2", v: proc{|a| 
            text_field_tag "clinic[phone2]", a.phone2
          }},
          {t: "診所地址(必填)", v: proc{|a| 
            text_field_tag "clinic[address]", a.address
          }},
          {t: "營業時間", v: proc{|a| 
            r = "<div class='field'>"
            r += link_to "選取診所營業時間", clinic_info_clinic_durations_path(@clinic), remote: true 
            r += "<div>"
            r += a.clinic_durations_note_html
            r += "</div>"
            r += "</div>"
            r.html_safe
          }},
          {t: "休診時間", v: proc{|a| 
            r = "<div class='field'>"
            r += link_to "選取休診時間", clinic_info_clinic_vacations_path(@clinic), remote: true
            r += "<div>"
            r += a.clinic_vacations.map{|a| "#{roc_format(a.start_date, 3)}~#{roc_format(a.end_date, 3)}"}.join("<br>")
            r += "</div>"
            r += "</div>"
            r.html_safe
          }},
          {t: "診療項目", v: proc{|a| 
            r = "<div class='field'>"
            r += link_to "編輯診療項目", clinic_info_services_path(@clinic), remote: true
            r += "<div>"
            r += a.services.map{|s| s.name}.join(", ")
            r += "</div>"
            r += "</div>"
            r.html_safe
          }},
          {t: "描述", v: proc{|a| 
            text_field_tag "clinic[description]", a.description
          }},
          {t: "QR code", v: proc{|a| 
            r = "<div class='line_qrcode_box'>"
            r += "  <div id='line_official' class='qrcode'>"
            r += "   <div class='text'></div>"
            r += "   <p>Line官方帳號</p>"
            r += "  </div>"
            r += "  <div id='line_counter' class='qrcode'>"
            r += "   <div class='text'></div>"
            r += "   <p>現場綁定</p>"
            r += "  </div>"
            r += "</div>"
            r.html_safe
          }},
        ]
      }
      %>
    </div>
    <div class="form_buttons_box">
      <%= submit_tag "儲存", class: "btnBu save_btn" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    $("#line_official .text").html('');
    $("#line_official .text").qrcode({
      width: 120, 
      height: 120, 
      text: '<%= @clinic.add_line_friend_path %>'
    });
    $("#line_counter .text").html('');
    $("#line_counter .text").qrcode({
      width: 120, 
      height: 120, 
      text: '<%= @clinic.line_binding_url %>'
    });

    window.listenerInputChangeNotification({
      inputs: $("#clinic_info").find("input,select"),
      leaveLinks: $("#clinic_sidemenu").find("a"),
      saveBtn: $("#clinic_info .save_btn")
    })
  });
</script>
