
<div id="upload_photo_lightbox" class="lightbox" style="display: none;">
	<%= form_tag url_for(action: :update), method: "patch", remote: true, class: "inbox" do %>
	<div class="content_box">
		<div class='photo_box'>
			<%= bg_center_image @clinic.photo_url %>
			<%= image_tag common_static_image_url(:pic_edit3), class: "pic_edit", onclick: "$(this).siblings('input').click();" %>
			<%= file_field_tag "clinic[photo]", class: "hidden", onchange: "window.showFileImage(this, $(this).siblings('.bg_center_image'), 1);" %>
		</div>
	</div>
	<div class="buttons_box">
		<%= content_tag :div, "取消", onclick: "hideUploadPhotoLightbox();", class: "btnW" %>
		<%= submit_tag "儲存", onclick: "hideUploadPhotoLightbox();", class: "btnBu" %>
	</div>
	<% end %>
</div>

<script type="text/javascript">
	function showUploadPhotoLightbox(){
		$("#upload_photo_lightbox").fadeIn(200);
	}
	function hideUploadPhotoLightbox(){
		$("#upload_photo_lightbox").fadeOut(200);	
	}
	$(function(){

	})
</script>

