<div>
  <%= form_tag url_for, method: "get" do %>
  <div class="pv5">
    <%= select_field_tag "s[wday]", @s[:wday], {nil => "全部"}.merge(ch_wdays) %>
  </div>
  <div class="pv5">
    <%= submit_tag "查詢" %>
  </div>
  <% end %>
</div>

<%= @doctor_durations.total_count %>
<%= render partial: "admin/common/index_table" , locals: {
  id: "doctor_durations",
  resources: @doctor_durations,
  total_resources_count: @doctor_durations.total_count,
  cols: [
    {k: "id", v: proc{|a| a.id }},
    {t: "星期", v: proc{|a| a.wday }},
    {t: "時", v: proc{|a| a.hour }},
    {t: "分", v: proc{|a| a.minute }},
    {t: "區間", v: proc{|a| a.duration }},
    {t: "今日掛號", v: proc{|a|
      e = @doctor_event_durations.find{|e| e.event.date == Date.today && e.event.date.wday == a.wday && e.hour == a.hour && e.minute == a.minute}
      if e.present?
        "#{e.id} #{e.event.patient.try(:name)} #{e.event.total_duration}"
      end
    }},
  ],
  row: {
	  default_sel_index: 0,
  	iframe_link_url: proc {|a| url_for(action: :show, id: a)}
  }
}
%>
