
<div id="event_notification_schedule_lightbox" class="lightbox">
	<%= form_tag url_for(action: :create), method: "post", remote: true, class: "inbox" do %>
		<% @schedule[:notifications_attributes] && @schedule[:notifications_attributes].each do |index, notification| %>
			<% notification.each do |key, value| %>
			<%= hidden_field_tag "event_notification_schedule[notifications_attributes][#{index}][#{key}]", value %>
			<%= hidden_field_tag "event_notification_schedule[notifications_attributes][#{index}][notification_template_id]", @event_notification_template.id %>
			<% end %>
		<% end %>
		<% [:doctor_id, :date, :hour, :minute, :duration].each do |key| %>
		<%= hidden_field_tag("event_notification_schedule[#{key}]", @schedule[key]) if @schedule[key].present? %>
		<% end %>

		<div class="header_box">
			推播訊息
			<p class="note">推播對象：提醒洗牙回診</p>
		</div>
		<div class="content_box">
			<%= hidden_field_tag "event_notification_schedule[schedule_type]", @schedule[:schedule_type] %>
			<%= hidden_field_tag "event_notification_schedule[notification_template_id]", @event_notification_template.id %>
			<%= text_area_tag "event_notification_schedule[template_message]", @event_notification_template.content, autofocus: true, id: "schedule_text" %>
			<% @event_notification_template.args.each do |key, name| %>
			<%= link_to name, "javascript:;", class: "btnBu name_btn", data: {key: key} %>
			<% end %>
		</div>
		<div class="buttons_box">
			<%= link_to "取消", "javascript: $('#event_notification_schedule_lightbox').remove()", class: "btnW" %>
			<%= submit_tag "推播", class: "btnBu" %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
	$(function(){
		$("#event_notification_schedule_lightbox").find('.name_btn').click(function(e){
			var name = $(this).data("key");
			$('#schedule_text').val($('#schedule_text').val() + "{" + name + "}");
		});
	})
</script>
