<div class="date_box">
	<div class="month_box">
		<%= select_field_tag "", "#{@date.year}-#{@date.month}", (0..12).map{|t| d1 = @date + t.month; ["#{d1.year}-#{d1.month}", "#{d1.year}年 #{d1.month}月"]}, class: "form-control alignC", id: "year_month_input" %>
	</div>
	<div class="wday_box">
		<ul>
		<% [
			{name: "週日", number: 0},
			{name: "週一", number: 1},
			{name: "週二", number: 2},
			{name: "週三", number: 3},
			{name: "週四", number: 4},
			{name: "週五", number: 5},
			{name: "週六", number: 6},
		].each do |wday| %>
			<li class="<%= 'select' if wday[:number] == @date.wday %>">
				<%= link_to wday[:name], "javascript:" %>
			</li>	
		<% end %>
		</ul>
	</div>
	<div class="day_box">
		<ul>
			<% sunday = @date - @date.wday.day %>
			<% (0..6).each do |i| %>
			<% date = (sunday + i.day) %> 
			<li>
				<%= radio_button_tag "event[date]", date.strftime('%Y/%m/%d'), @date.day == date.day %>
				<%= link_to "#{date.day}日", "javascript:", id: "day_input", onclick: "event.preventDefault(); $(this).siblings('input').click();" %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
