<div id="form-box">
	<div class="doctors_box">
		<div class="image_box">
			<div class="bg_center_image round" style="background-image: url(<%= @doctor.photo.url %>);" data-image_urls="<%= @clinic.doctors.map{|a| [a.id, a.photo.url]}.to_h.to_json %>" id="doctor_img">
			</div>
			<p><%= select_field_tag "event[doctor_id]", @doctor.id, @clinic.doctors.map{|a| [a.id, a.name]}, id: "doctor_select" %></p>
		</div>
		<div class="title">
			選擇日期與時間
		</div>
	</div>
	<div class="services_box">
		<%= select_field_tag "event[service_id]", @booking_event.service_id, @clinic.services.map{|a| [a.id, a.name]}, class: "form-control", id: "service_select" %>
	</div>


	<div class="date_box">
		<div class="month_box">
			<%= link_to icon_tag(:angle_left), "", id: "last_week"%>
			<span><%= @date.month %></span>
			<%= link_to icon_tag(:angle_right), "", id: "next_week" %>
		</div>
		<div class="wday_box">
			<ul>
			<% [
				{name: "週日", number: 0},
				{name: "週一", number: 1},
				{name: "週二", number: 2},
				{name: "週三", number: 3},
				{name: "週四", number: 4},
				{name: "週五", number: 5},
				{name: "週六", number: 6},
			].each do |wday| %>
				<li class="<%= 'select' if wday[:number] == @date.wday %>">
					<%= link_to wday[:name], "javascript:" %>
				</li>	
			<% end %>
			</ul>
		</div>
		<div class="day_box">
			<ul>
				<% sunday = @date - @date.wday.day %>
				<% (0..6).each do |i| %>
				<% date = (sunday + i.day) %> 
				<li>
					<%= radio_button_tag "event[date]", date.strftime('%Y/%m/%d'), @date.day == date.day %>
					<%= link_to "#{date.day}日", "javascript:", id: "day_input", onclick: "event.preventDefault(); $(this).siblings('input').click();", class: "#{'today' if date == Date.today}" %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="time_box">
		<% disabled_time = ["1000", "1015", "1130", "1500", "1545", "1600", "1615", "1745", "1930", "1945", "2000", "2130"] %>
		<% [
			{name: "上午診", hours: (9..11)},
			{name: "下午診", hours: (13..18)},
			{name: "晚上診", hours: (19..21)},
		].each do |segment| %>
		<div class="segment_box">
			<div class="title">
				<%= segment[:name] %>
			</div>
			<% segment[:hours].each do |hour| %>
			<% next if !@doctor_durations.map{|a| a.hour}.include?(hour) %>
			<ul class="hours_box">
				<% [0, 15, 30, 45].each do |minute| %>
				<li>
					<% name = "#{hour}#{sprintf('%02d', minute)}" %>
					<% event_disabled = @date >= Date.today ? @doctor_events.find{|e| e.hour == hour && e.minute == minute} : true %>
					<%= radio_button_tag "event[hour_minute]", "#{hour}:#{minute}", false, disabled: event_disabled  %>
					<%= link_to name, "", onclick: "event.preventDefault(); $(this).siblings('input').click();" %>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<% end %>
	</div>
</div>
