<div id="form-box">
	<div class="doctors_box">
		<div class="image_box">
			<div class="bg_center_image round" style="background-image: url(<%= @doctor.photo.url %>);" data-image_urls="<%= @clinic.doctors.map{|a| [a.id, a.photo.url]}.to_h.to_json %>" id="doctor_img">
			</div>
			<p><%= select_field_tag "event[doctor_id]", @doctor.id, @clinic.doctors.map{|a| [a.id, a.name]}, id: "doctor_select" %></p>
		</div>
		<div class="title">
			選擇日期與時間
		</div>
	</div>
	<div class="services_box">
		<%= select_field_tag "event[service_id]", @booking_event.service_id, @doctor.services.map{|a| [a.id, "#{a.name}(#{a.duration}分鐘)" ]}, class: "form-control", id: "service_select" %>
	</div>


	<div class="date_box">
		<div class="month_box">
			<%= link_to icon_tag(:angle_left), "", id: "last_week"%>
			<span>
				<span class="year"><%= @date.year  %></span>年
				<span class="month"><%= @date.month %></span>月
			</span>
			<%= link_to icon_tag(:angle_right), "", id: "next_week" %>
		</div>
		<div class="wday_box">
			<ul>
			<% ch_wdays.each do |wday, ch_wday| %>
				<li class="<%= 'select' if wday == @date.wday %>">
					<%= link_to ch_wday, "javascript:" %>
				</li>	
			<% end %>
			</ul>
		</div>
		<div class="day_box">
			<ul>
				<% sunday = @date - @date.wday.day %>
				<% (0..6).each do |i| %>
				<% date = (sunday + i.day) %> 
				<li>
					<%= radio_button_tag "event[date]", date.strftime('%Y/%m/%d'), @date.day == date.day %>
					<%= link_to "#{date.day}日", "javascript:", id: "day_input", onclick: "event.preventDefault(); $(this).siblings('input').click();", class: "#{'today' if date == Date.today}" %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="time_box">
		<% [
			{name: "上午診", hours: @clinic.wday_segment_hours(@date.wday, "早上")},
			{name: "下午診", hours: @clinic.wday_segment_hours(@date.wday, "下午")},
			{name: "晚上診", hours: @clinic.wday_segment_hours(@date.wday, "晚上")},
		].each do |segment| %>
		<div class="segment_box">
			<div class="title">
				<%= segment[:name] %>
			</div>
			<% segment[:hours].each do |hour| %>
			<% next if !@doctor_durations.map{|a| a.hour}.include?(hour) %>
			<ul class="hours_box">
				<% [0, 15, 30, 45].each do |minute| %>
				<li>
					<% event_disabled = @date >= Date.today ? @doctor_event_durations.find{|e| e.hour == hour && e.minute == minute} : true %>
					<%= radio_button_tag "event[hour_minute]", "#{hour}:#{minute}", false, disabled: event_disabled  %>
					<%= link_to hour_minute_format(hour, minute), "", onclick: "event.preventDefault(); $(this).siblings('input').click();" %>
				</li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<% end %>
	</div>
</div>
