
<div id="search_box">
	<%= form_tag url_for, method: "get" do %>
	<% if @category == "notification" %>
	<%# pushnotificaiton is put at table_box %>
		<%= link_to "javascript: window.pushNotification();", class: "btnW push_notification" do %>
			回診推播(<span class="number">0</span>)
		<% end %>
		<%= select_field_tag "event_notification_status", @event_notification_status, {nil => "選擇訊息發送狀態", 2 => "已約診", 3 => "已取消", 1 => "未回應"}, onchange: "$(this).closest('form').submit();" %>
	<% end %>
	<% if @category == "all" %>
		<%= select_field_tag "has_patient_notification", @has_patient_notification, {nil => "選擇加入推播狀態", 1 => "已加入推播", 0 => "未加入推播"}, onchange: "$(this).closest('form').submit();" %>
	<% end %>
	<div class="input_box">
		<%= hidden_field_tag "category", params[:category] %>
	  <div class="search_box clinic_form_search">
	    <div class="inbox">
	    	<% if params[:key].present? %>
 	    	<span class="close_btn">
	    		<%= link_to icon_tag(:close_circle), url_for %>
	    	</span>
	    	<% end %>
	      <%= text_field_tag "key", params[:key], placeholder: "輸入病患名稱以查詢", class: "clinic_search_input", data: {url: clinic_events_selector_search_events_path(@clinic)} %>
	      <%= hidden_field_tag "event_id", @event.present? ? @event.id : nil %>
	      <%= image_tag clinic_static_image_url(:search) %>
	    </div>
	  </div>
		<%# text_field_tag "key", params[:key], id: "search" %>
		<div class="search_result hidden">
		</div>
	</div>
	<% if @category == "all" %>
	<%= link_to "新增病患", url_for(action: :new), class: "btnBu new_patient" %>
	<% end %>
	<% end %>
</div>

<script type="text/javascript">
	$(function(){
		$("input#search").on("keydown", function(e){
			if(e.keyCode == 13){
				var key = $(this).val();
				if(key.length){
					var path = "<%= url_for %>";
					path = path + "?key=" + key;
					$.getScript(path);
				} else {
					$("#search_box .search_result").html('');
				}				
			}
		});
		$("#search_box").on("click", ".search_result ul li", function(){
			var name = $(this).data("name");
			$("input#search").val(name);
			// $("#search_box .search_result").html('');
			$("#search_box").find('form').submit();
		});
	})
</script>

