<!DOCTYPE html>
<html>
  <head>
    <%= render_relative_partial "common/head" %>
    <link rel="stylesheet" type="text/css" href="/admin/jquery.json-view.min.css">
    <script type="text/javascript" src="/admin/jquery.json-view.min.js"></script>
  </head>
  <body id="admin" class="fs12">
  	<% if @embedded == 1 %>
  	  <%= yield %>
  	<% else %>
  	<%= render_relative_partial "admin/dentists_navbar" if params[:controller].include?("admin/dentists") %>
    <%= render_relative_partial "admin/dev_navbar" if params[:controller].include?("admin/dev") %>
  	<div class="container" style="min-height: 600px; padding-bottom: 40px;">
  	  <%= yield %>
  	</div>
    <%# render_relative_partial "common/footer" %>
  	<% end %>
  </body>
</html>

