

<div class="search_result">
	<ul>
	<% @events.each do |event| %>
		<li data-id="<%= event.id %>">
			<span><%= event.patient.name %></span>
			<span><%= event.desc_format(3).html_safe %></span>
			<span><%= event.service.name %></span>
			<span><%= event.doctor.title_name %></span>
		</li>
	<% end %>
	</ul>
</div>

