
<div id="clinic_nav">
	<div class="title">
		<%= roc_format(@date || Date.today, 2) %>
		<% if @back_to_today_url.present? %><%# for clinic events %>
		<div class="back">
			<%= link_to "< 返回今天", @back_to_today_url %>
		</div>
		<% end %>
	</div>
	<div class="notification">
		<%= link_to clinic_lightbox_clinic_notifications_path(@clinic), remote: true, class: "unselbell" do %>
			<%= icon_tag(:bell) %>
	  <% end %>
	  <%= link_to "javascript:;", class: "selbell" do %>
			<%= icon_tag(:bell) %>	  
	  <% end %>
	  <div id="clinic_notification_box"></div>
	 </div>
</div>