
<sidemenu id="clinic_sidemenu">
  <div class="info">
  </div>
  <ul>
    <% [
      {name: "看診日曆", link: clinic_events_path},
      {name: "病患管理", link: clinic_patients_path},
      {name: "診所管理", link: clinic_info_path},
      {name: "醫師管理", link: clinic_doctors_path},
      {name: "關鍵字管理", link: clinic_clinic_line_keywords_path},
      ].each do |elm| %>
      <% if request.fullpath.include?(elm[:link]) %>
      <li class="selected">
        <%= link_to elm[:link] do %>
          <%= icon_tag(:star) %><%= elm[:name] %>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to elm[:link] do %>
          <%= icon_tag(:star) %><%= elm[:name] %>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>  
  <div class="bottom-box" onclick="showLogOutModal()">
    <%= link_to "登出", destroy_member_session_path, method: "delete" %>
  </div>
</sidemenu>

<script type="text/javascript">
  function showLogOutModal() {
    let logOut = document.getElementById('log-out-modal');
    logOut.style.display = 'block';
  }

  function dontShowLogOutModal() {
    let modal = document.getElementById('log-out-modal');
    modal.style.display = 'none';
  }
</script>