
<sidemenu id="clinic_sidemenu">
  <div class="info">
    <%= bg_center_image @clinic.photo_url %>
  </div>
  <ul>
    <% [
      {name: "看診日曆", link: clinic_events_path, image_url: clinic_static_image_url(:calendar)},
      {name: "病患管理", link: clinic_patients_path, image_url: clinic_static_image_url(:teeth)},
      {name: "診所管理", link: clinic_info_path, image_url: clinic_static_image_url(:plus_circle)},
      {name: "醫師管理", link: clinic_doctors_path, image_url: clinic_static_image_url(:doctor)},
      {name: "關鍵字管理", link: clinic_clinic_line_keywords_path, image_url: clinic_static_image_url(:bot)},
      {name: "帳號管理", link: clinic_members_path, image_url: clinic_static_image_url(:account)},
      ].each do |elm| %>
      <% if request.fullpath.include?(elm[:link]) %>
      <li class="selected">
        <%= link_to elm[:link] do %>
          <%= bg_center_image elm[:image_url] %>
          <p><%= elm[:name] %></p>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to elm[:link] do %>
          <%= bg_center_image elm[:image_url] %>
          <p><%= elm[:name] %></p>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>  
  <div class="bottom-box" onclick="showLogOutModal()">
    <%= link_to "登出", destroy_member_session_path, method: "delete" %>
  </div>
</sidemenu>

<script type="text/javascript">
  function showLogOutModal() {
    let logOut = document.getElementById('log-out-modal');
    logOut.style.display = 'block';
  }

  function dontShowLogOutModal() {
    let modal = document.getElementById('log-out-modal');
    modal.style.display = 'none';
  }
</script>